<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/indexstyle.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Escolha um jogo!</h1>
        </div>
        <div class="button-container">
            <a href="../templates/memory.html" alt="Jogo da memória">
                <button class="memory">Jogo da memória</button>   
            </a>
            <a href="../templates/puzzle.html" alt="Quebra-Cabeça">
                <button class="puzzle">Quebra-cabeça</button>
            </a>
        </div>
    </div>
</body>
</html>