<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/memorystyle.css">
    <title>Memória</title>
</head>
<div class="btback">
    <a href="index.html">
        <img src="../static/assets/icon-back.png" alt="Voltar">
    </a>
</div>
<body>
    <h1>Jogo da memória:</h1>
    <div class="memory-game">
        <input type="checkbox" id="card1">
        <label for="card1" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-python.png');"></div>
        </label>
        <input type="checkbox" id="card2">
        <label for="card2" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-js.png');"></div>
        </label>
        <input type="checkbox" id="card3">
        <label for="card3" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-css.png');"></div>
        </label>
        <input type="checkbox" id="card4">
        <label for="card4" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-java.png');"></div>
        </label>
        <input type="checkbox" id="card5">
        <label for="card5" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-html.png');"></div>
        </label>
        <input type="checkbox" id="card6">
        <label for="card6" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-csharp.png');"></div>
        </label>
        <input type="checkbox" id="card7">
        <label for="card7" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-java.png');"></div>
        </label>
        <input type="checkbox" id="card8">
        <label for="card8" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-css.png');"></div>
        </label>
        <input type="checkbox" id="card9">
        <label for="card9" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-ruby.png');"></div>
        </label>
        <input type="checkbox" id="card10">
        <label for="card10" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-python.png');"></div>
        </label>
        <input type="checkbox" id="card11">
        <label for="card11" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-php.png');"></div>
        </label>
        <input type="checkbox" id="card12">
        <label for="card12" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-html.png');"></div>
        </label>
        <input type="checkbox" id="card13">
        <label for="card13" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-js.png');"></div>
        </label>
        <input type="checkbox" id="card14">
        <label for="card14" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-csharp.png');"></div>
        </label>
        <input type="checkbox" id="card15">
        <label for="card15" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-ruby.png');"></div>
        </label>
        <input type="checkbox" id="card16">
        <label for="card16" class="card">
            <div class="front"></div>
            <div class="back" style="background-image: url('../static/assets/foto-php.png');"></div>
        </label>
        <input type="checkbox" id="popup-control" hidden>
        <label for="popup-control" class="popup">
            <div class="popup-content" onclick="event.stopPropagation()">
              <h2>Parabéns!</h2>
              <p>Você completou o jogo!</p>
            </div>
        </label>
    </div>
</body>
</html>