<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/geralstyle.css">
    <title>Início</title>
</head>
<body class="body">
    <div class="wallpaper">
        <img class="wallpaperimg" src="/static/assets/wallpaper.png" alt="Wallpaper">
    </div>
    <aside>
        <div class="titulo">
            <h1 class="name">Camila Custódio Fideli</h1>
            <hr>
            <img class="profileimg" src="/static/assets/profileimg.jpeg" alt="Foto Perfil">
        </div>
        <div class="menu">
            <a href="inicio.html">Início</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="projetos.html">Projetos</a>
            <a href="/static/assets/curriculo-camilafideli.pdf" target="_blank">Currículo</a>
            <a href="servicos.html">Serviços</a>
            <hr>
        </div>
    </aside>
    <div class="border"></div>
    <footer>
        <div class="link">
            <a href="https://wa.me/5541998728585" target="_blank" class="icon wp">
                <img class="default" src="/static/assets/icon-wp.png" alt="WhatsApp">
                <img class="hover" src="/static/assets/icon-wp-escuro.png" alt="WhatsApp hover">
            </a>
            <a href="https://www.linkedin.com/in/camila-custódio-fideli-1824501ab" target="_blank" class="icon li">
                <img class="default" src="/static/assets/icon-li.png" alt="LinkedIn">
                <img class="hover" src="/static/assets/icon-li-escuro.png" alt="LinkedIn hover">
            </a>
            <a href="https://github.com/BeCa376" target="_blank" class="icon gh">
                <img class="default" src="/static/assets/icon-gh.png" alt="GitHub">
                <img class="hover" src="/static/assets/icon-gh-escuro.png" alt="GitHub hover">
            </a>
            <a href="https://www.instagram.com/beca376/" target="_blank" class="icon im">
                <img class="default" src="/static/assets/icon-im.png" alt="Instagram">
                <img class="hover" src="/static/assets/icon-im-escuro.png" alt="Instagram hover">
            </a>
            <a href="mailto:camilacfideli@gmail.com" target="_blank" class="icon email">
                <img class="default" src="/static/assets/icon-email.png" alt="Email">
                <img class="hover" src="/static/assets/icon-email-escuro.png" alt="Email hover">
            </a>
        </div>
    </footer>
</body>
</html>