<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/iniciostyle.css">
    <title>Início</title>
</head>
<body class="body">
    <div class="wallpaper">
        <img class="wallpaperimg" src="/static/assets/wallpaper.png" alt="Wallpaper">
    </div>
    <aside>
        <div class="titulo">
            <h1 class="name">Camila Custódio Fideli</h1>
            <hr>
            <img class="profileimg" src="/static/assets/profileimg.jpeg" alt="Foto Perfil">
        </div>
        <div class="menu">
            <a href="inicio.html">Início</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="projetos.html">Projetos</a>
            <a href="/static/assets/curriculo-camilafideli.pdf" target="_blank">Currículo</a>
            <a href="servicos.html">Serviços</a>
            <hr>
        </div>
    </aside>
    <div class="border"></div>
    <div class="inicio">
        <h2>Boas-vindas:</h2>
        <p>Olá, eu sou a Camila!</p>
        <p>Sou uma desenvolvedora apaixonada por tecnologia, música e tudo que envolve o universo geek.  
            Entre uma linha de código e outra, você pode me encontrar tocando violão, jogando RPG ou mergulhada em séries e games.  
            Aqui no meu cantinho digital, compartilho um pouco do que sou e do que amo criar.
            Atualmente atuo com desenvolvimento de software, marketing digital e automações inteligentes para empresas.
        </p>
        <hr class="hrinicio">
        <h3>Destaque:</h3>
        <ul>
            <li>💻 Desenvolvimento de sites e sistemas personalizados</li>
            <li>📊 Automação de planilhas e CRM</li>
            <li>📱 Estratégias para redes sociais e criação de conteúdo</li>
        </ul>
        <hr class="hrinicio">
        <h5>Tecnologias:</h5>
        <div class="tecnologias">
            <img class="html" src="/static/assets/icon-html.png" alt="HTML">
            <img class="css" src="/static/assets/icon-css.png" alt="CSS">
            <img class="js" src="/static/assets/icon-js.png" alt="JavaScript">
            <img class="nodejs" src="/static/assets/icon-nodejs.png" alt="Node.JS">
            <img class="java" src="/static/assets/icon-java.png" alt="Java">
            <img class="py" src="/static/assets/icon-py.png" alt="Python">
            <img class="sql" src="/static/assets/icon-sql.png" alt="SQL">
            <img class="mysql" src="/static/assets/icon-mysql.png" alt="MySQL">
            <img class="db" src="/static/assets/icon-db.png" alt="MongoDB">
            <img class="excel" src="/static/assets/icon-excel.png" alt="Excel">
        </div>
    </div>
    <footer>
        <div class="link">
            <a href="https://w.app/pye8dn" target="_blank" class="icon wp">
                <img class="default" src="/static/assets/icon-wp.png" alt="WhatsApp">
                <img class="hover" src="/static/assets/icon-wp-escuro.png" alt="WhatsApp hover">
            </a>
            <a href="https://www.linkedin.com/in/camila-custódio-fideli-1824501ab" target="_blank" class="icon li">
                <img class="default" src="/static/assets/icon-li.png" alt="LinkedIn">
                <img class="hover" src="/static/assets/icon-li-escuro.png" alt="LinkedIn hover">
            </a>
            <a href="https://github.com/BeCa376" target="_blank" class="icon gh">
                <img class="default" src="/static/assets/icon-gh.png" alt="GitHub">
                <img class="hover" src="/static/assets/icon-gh-escuro.png" alt="GitHub hover">
            </a>
            <a href="https://www.instagram.com/beca376/" target="_blank" class="icon im">
                <img class="default" src="/static/assets/icon-im.png" alt="Instagram">
                <img class="hover" src="/static/assets/icon-im-escuro.png" alt="Instagram hover">
            </a>
            <a href="mailto:camilacfideli@gmail.com" target="_blank" class="icon email">
                <img class="default" src="/static/assets/icon-email.png" alt="Email">
                <img class="hover" src="/static/assets/icon-email-escuro.png" alt="Email hover">
            </a>
        </div>
    </footer>
</body>
</html>