<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/servicosstyle.css">
    <title>Serviços</title>
</head>
<body class="body">
    <div class="wallpaper">
        <img class="wallpaperimg" src="/static/assets/wallpaper.png" alt="Wallpaper">
    </div>
    <aside>
        <div class="titulo">
            <h1 class="name">Camila Custódio Fideli</h1>
            <hr>
            <img class="profileimg" src="/static/assets/profileimg.jpeg" alt="Foto Perfil">
        </div>
        <div class="menu">
            <a href="inicio.html">Início</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="projetos.html">Projetos</a>
            <a href="/static/assets/curriculo-camilafideli.pdf" target="_blank">Currículo</a>
            <a href="servicos.html">Serviços</a>
            <hr>
        </div>
    </aside>
    <div class="border"></div>
    <div class="inicio">
        <h2>Desenvolvimento de Software:</h2>
        <p>* Criação de Sites Profissionais: sites institucionais, portfólios, páginas de vendas (landing pages), 
            com design responsivo e otimizado para Google.
            💸 A partir de R$ 1.500
        </p>
        <p>* Consultoria e Prototipação de Sistemas Digitais: Ajuda com consultoria técnica, protótipo navegável e 
            plano de desenvolvimento.
            💸 A partir de R$ 500
        </p>
        <p>* Desenvolvimento de Aplicativos (Android/iOS): Apps personalizados para pequenas e 
            médias empresas.
            💸 A partir de R$ 4.000
        </p>
        <p>* Software de Gestão Empresarial (ERP/CRM Light): Sistemas internos para controle de vendas, 
            clientes, estoque e financeiro.
            💸 A partir de R$ 3.500
        </p>
        <p>* Soluções para E-commerces e Delivery: Sites ou apps para vendas online com controle 
            de pedidos, integração com meios de pagamento.
            💸 A partir de R$ 2.500
        </p>
        <hr class="hrinicio">
        <h3>Serviços avançados:</h3>
        <p>* Criação e Implementação de CRM: Desenvolvimento de sistemas CRM sob medida para controle de 
            clientes, orçamentos, vendas e pós-venda.
            💸 A partir de R$ 3.000
        </p>
        <p>* Customização de CRMs Prontos: Personalização e configuração CRMs existentes de acordo com 
            a necessidade do seu negócio.
            💸 A partir de R$ 1.200
        </p>
        <p>* APIs: Criação e Integração: Desenvolvimento de APIs REST e integração entre sistemas diversos.
            💸 A partir de R$ 1.500
        </p>
        <p>* Manutenção e Otimização de Sistemas Existentes: Revisão, melhorias, correções de bugs e 
            novas funcionalidades em sistemas prontos.
            💸 A partir de R$ 80/hora
        </p>
    </div>
    <footer>
        <div class="link">
            <a href="https://w.app/pye8dn" target="_blank" class="icon wp">
                <img class="default" src="/static/assets/icon-wp.png" alt="WhatsApp">
                <img class="hover" src="/static/assets/icon-wp-escuro.png" alt="WhatsApp hover">
            </a>
            <a href="https://www.linkedin.com/in/camila-custódio-fideli-1824501ab" target="_blank" class="icon li">
                <img class="default" src="/static/assets/icon-li.png" alt="LinkedIn">
                <img class="hover" src="/static/assets/icon-li-escuro.png" alt="LinkedIn hover">
            </a>
            <a href="https://github.com/BeCa376" target="_blank" class="icon gh">
                <img class="default" src="/static/assets/icon-gh.png" alt="GitHub">
                <img class="hover" src="/static/assets/icon-gh-escuro.png" alt="GitHub hover">
            </a>
            <a href="https://www.instagram.com/beca376/" target="_blank" class="icon im">
                <img class="default" src="/static/assets/icon-im.png" alt="Instagram">
                <img class="hover" src="/static/assets/icon-im-escuro.png" alt="Instagram hover">
            </a>
            <a href="mailto:camilacfideli@gmail.com" target="_blank" class="icon email">
                <img class="default" src="/static/assets/icon-email.png" alt="Email">
                <img class="hover" src="/static/assets/icon-email-escuro.png" alt="Email hover">
            </a>
        </div>
    </footer>
</body>
</html>