<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/sobremimstyle.css">
    <title>Sobre mim</title>
</head>
<body class="body">
    <div class="wallpaper">
        <img class="wallpaperimg" src="/static/assets/wallpaper.png" alt="Wallpaper">
    </div>
    <aside>
        <div class="titulo">
            <h1 class="name">Camila Custódio Fideli</h1>
            <hr>
            <img class="profileimg" src="/static/assets/profileimg.jpeg" alt="Foto Perfil">
        </div>
        <div class="menu">
            <a href="inicio.html">Início</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="projetos.html">Projetos</a>
            <a href="/static/assets/curriculo-camilafideli.pdf" target="_blank">Currículo</a>
            <a href="servicos.html">Serviços</a>
            <hr>
        </div>
    </aside>
    <div class="border"></div>
    <div class="inicio">
        <p>Oi! Eu sou a Camila Custódio Fideli. 
            Sou uma profissional multidisciplinar que adora unir criatividade, 
            estratégia e tecnologia para transformar ideias em soluções reais.
        </p>
        <hr class="hrinicio">
        <p>Atualmente, atuo na Ime's Metalúrgica, onde fico entre a área comercial e o desenvolvimento de software. 
            Sou responsável pela implementação do CRM da empresa e também desenvolvo uma plataforma robusta para
            gestão de orçamentos, que automatiza processos, organiza o financeiro e gera relatórios estratégicos que 
            facilitam a tomada de decisão. Além disso, atuo como vendedora interna, então entendo bem como a tecnologia 
            pode (e deve) ajudar quem está na linha de frente.
        </p>
        <hr class="hrinicio">
        <p>Minha trajetória também passou pela área de marketing digital e suporte de TI. 
            Na Pemaf Assistência Técnica, trabalhei com estratégias para redes sociais, 
            ampliação do alcance das campanhas e resolução de problemas técnicos. Já na Starbucks, 
            tive uma experiência incrível com atendimento ao cliente, gestão de loja e preparo de cafés 
            (sim, até curso de degustação rolou!). 
            Essa vivência reforçou muito minha habilidade de trabalhar em equipe, 
            liderar e me conectar com as pessoas.
        </p>
        <hr class="hrinicio">
        <p>Sou estudante de Engenharia de Software no Unisenai e estou sempre aprendendo algo novo — seja no código, 
            na música, nos games ou na vida. Aqui no meu cantinho digital, compartilho um pouco do que sou, 
            do que já criei e do que ainda tô construindo. Gosto de desafios, adoro automatizar tarefas, 
            pensar fora da caixa e criar coisas que realmente facilitem a vida das pessoas.     
        </p>
        <hr class="hrinicio">
        <p>Se quiser trocar uma ideia, compartilhar um projeto ou só bater um papo sobre tecnologia, arte ou RPG... é só chamar!
        </p>
    </div>
    <footer>
        <div class="link">
            <a href="https://w.app/pye8dn" target="_blank" class="icon wp">
                <img class="default" src="/static/assets/icon-wp.png" alt="WhatsApp">
                <img class="hover" src="/static/assets/icon-wp-escuro.png" alt="WhatsApp hover">
            </a>
            <a href="https://www.linkedin.com/in/camila-custódio-fideli-1824501ab" target="_blank" class="icon li">
                <img class="default" src="/static/assets/icon-li.png" alt="LinkedIn">
                <img class="hover" src="/static/assets/icon-li-escuro.png" alt="LinkedIn hover">
            </a>
            <a href="https://github.com/BeCa376" target="_blank" class="icon gh">
                <img class="default" src="/static/assets/icon-gh.png" alt="GitHub">
                <img class="hover" src="/static/assets/icon-gh-escuro.png" alt="GitHub hover">
            </a>
            <a href="https://www.instagram.com/beca376/" target="_blank" class="icon im">
                <img class="default" src="/static/assets/icon-im.png" alt="Instagram">
                <img class="hover" src="/static/assets/icon-im-escuro.png" alt="Instagram hover">
            </a>
            <a href="mailto:camilacfideli@gmail.com" target="_blank" class="icon email">
                <img class="default" src="/static/assets/icon-email.png" alt="Email">
                <img class="hover" src="/static/assets/icon-email-escuro.png" alt="Email hover">
            </a>
        </div>
    </footer>
</body>
</html>